<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
     <system.webServer>
         <httpErrors existingResponse="Replace" errorMode="Custom">
             <remove statusCode="404" subStatusCode="-1" />
             <error statusCode="404" prefixLanguageFilePath="" path="/sgefiscal/index.html" responseMode="ExecuteURL" />
         </httpErrors>
     </system.webServer>     
 </configuration>