<div class="wrapper wrapper-full-page">
  <div
    class="full-page login-page"
    data-color="back"
    data-image="./assets/img/imagem-rotina1.jpg"
  >
    <!-- adicionado por P.H a cor black-->
    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form method="#" action="#" [formGroup]="dadosForm">
              <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
              <div
                class="card card-hidden"
                style="background: #fff; border: 3px solid #f0f0f0;"
              >
                <!--<div class="header text-center acesso">
                                  <i class="fa fa-lock" aria-hidden="true"></i>
                                Acessar
                              </div>-->
                <div class="header text-center acesso">
                  <img
                    src="./assets/jamsoft/logomarcaRed.png"
                    width="160"
                    height="60"
                  />
                </div>
                <div class="line"></div>
                <div class="content">
                  <div class="form-group">
                    <label>Usuário<span class="star">*</span></label>
                    <input
                      type="text"
                      placeholder="Usuário"
                      class="form-control"
                      formControlName="usuario"
                      [brmasker]="{ mask: '', len: 17, userCaracters: false }"
                    />

                    <div
                      class="text-danger"
                      *ngIf="
                        dadosForm.get('usuario').invalid &&
                        dadosForm.get('usuario').touched
                      "
                    >
                      <div *ngIf="dadosForm.get('usuario').errors['required']">
                        Campo Obrigatório.
                      </div>
                      <div *ngIf="dadosForm.get('usuario').errors['minlength']">
                        Digite no mínimo 3 caracteres.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Senha<span class="star">*</span></label>
                    <input
                      type="password"
                      placeholder="senha"
                      class="form-control"
                      formControlName="senha"
                      [brmasker]="{ mask: '', len: 17, userCaracters: true }"
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        dadosForm.get('senha').invalid &&
                        dadosForm.get('senha').touched
                      "
                    >
                      <div *ngIf="dadosForm.get('senha').errors['required']">
                        Campo Obrigatório.
                      </div>
                      <div *ngIf="dadosForm.get('senha').errors['minlength']">
                        Digite no mínimo 3 caracteres.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer text-center">
                  <button
                    type="submit"
                    [disabled]="!this.dadosForm.valid"
                    class="btn btn-fill btn-danger btn-wd"
                    (click)="logar()"
                  >
                    Entrar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer footer-transparent">
      <div class="container" style="border-radius: 5px;">
        <nav class="pull-left"></nav>
        <p
          class="copyright pull-right"
          style="background: #333; padding: 3px 5px; color: #fff; opacity: 0.9;"
        >
          &copy; {{ data | date: "yyyy" }}
          <a href="http://www.jamsoft.com.br" target="_blank"
            >JAMSOFT Sistemas</a
          >, soluções completa para sua empresa ( NF-e, NFC-E, Aplicativos e
          etc).
        </p>
      </div>
    </footer>
  </div>
</div>
