<footer class="footer">
  <div class="container-fluid">
      <nav class="pull-left no-print">
          <ul>
            <li>
              <p style="margin-top: 30px;">Siga-nos nas Redes Sociais: </p>
            </li>
              <li  class="icons-socias">
                  <a href="https://www.instagram.com/jamsoftinformatica" target="_blank" title="Ir para o Instagram">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="icons-socias">
                  <a href="https://www.facebook.com/JAMSOFT-Inform%C3%A1tica-511781496025508" target="_blank" title="Ir para o Facebook">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="icons-socias">
                  <a href="http://www.jamsoft.com.br" target="_blank" title="Ir para o Site">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                  </a>
              </li>
          </ul>

      </nav>
      <p class="copyright pull-right no-print">
          &copy; {{AnoAtual | date: 'yyyy'}} <a href="http://www.jamsoft.com.br" target="_blank" title="Ir o Site">Jamsoft Sistemas</a>, mais tecnologia menos esforço.
      </p>
  </div>
</footer>
