.tdSubMenu{
  color: #fff;
}

.thead{
  background: #fb404b;
}

legend{
  font-weight: 500;
  background: #f0f0f0;
  padding: 2px 5px;
  color: #4e4e4e;
  border-radius: 3px;
}

.legend-perfil{
  color: #fb404b;
  font-weight: bold;
}
