.table{
  border: 1px solid #ccc;
}

.col-titulos{
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px 0 8px 10px;
}

.col-dados{
  text-transform:none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0 8px 10px;
}

.text-red{
  color: red;
}
