
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header" style="font-weight: 500;">
                </div>
                <div class="content">
                  <div class="row">
                    <div class="col-md-8">
                        <legend style="font-weight: 500;">Menu</legend>
                    </div>
                    <!--<div class="col-md-4" style="text-align: right;">
                      <button type="button" (click)="BtnOpcoesModulo()" class="btn btn-fill btn-danger"
                        title="Opções por módulo">
                        <span class="btn-label">
                            <i class="fa fa-plus"></i>
                        </span>
                        Opções por Modulo
                      </button>
                    </div>-->
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <form [formGroup]="resourceForm">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                  <label>Id</label>
                                  <input class="form-control"  type="text" readonly="true" value='0' name="id" placeholder=""
                                  id="id" name="id" formControlName="id">
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label>Menu<span class="star">*</span></label>
                                <input class="form-control"  type="text" name="menu1" placeholder="" id="menu1" formControlName="menu1" maxlength="30">
                                <div class="text-danger" *ngIf="resourceForm.get('menu1').invalid && resourceForm.get('menu1').touched">
                                  <div *ngIf="resourceForm.get('menu1').errors['required']">Campo Obrigatório.</div>
                                  <div *ngIf="resourceForm.get('menu1').errors['minlength']">Digite no mínimo 2 caracteres.</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label>Icone<span class="star">*</span></label>
                                <input class="form-control"  type="text" name="icone" id="icone" formControlName="icone" maxlength="50">
                                <div class="text-danger" *ngIf="resourceForm.get('icone').invalid && resourceForm.get('icone').touched">
                                  <div *ngIf="resourceForm.get('icone').errors['required']">Campo Obrigatório.</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label>Ordem</label>
                                <input class="form-control"  type="text" value='0' name="ordem" id="ordem" formControlName="ordem">
                              </div>
                            </div>
                          </div>
                      </form>
                      <div class="row">
                          <div class="col-md-12 text-center">
                              <div class="form-group barra-opcoes-cadastro">
                                <button [disabled]="submittingForm || resourceForm.invalid"  (click)="submitForm('MENU')" class="btn btn-wd btn-outline-dark" title="Salvar Registro">
                                      <i class="fa fa-floppy-o icon-barra-cadastros" aria-hidden="true"></i>
                                      Salvar
                                </button>
                                <button *ngIf="menu.id>0" class="btn btn-wd btn-outline-success" (click)="Novo('MENU')" title="Novo Registro">
                                    <i class="fa fa-plus-circle icon-barra-cadastros" aria-hidden="true"></i>
                                      Novo
                                </button>
                              </div>
                          </div>
                      </div>
                    </div>

                    <!-- itens do menu-->
                    <div class="col-md-6">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead class="thead">
                                    <tr class="tr-hover">
                                      <th class="text-left tdSubMenu">ID</th>
                                      <th class="text-left tdSubMenu">MENU</th>
                                      <th class="text-left tdSubMenu">Ordem</th>
                                      <th class="text-center tdSubMenu">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" *ngIf="!menus">
                                        <td colspan="4"><strong>Carregando...</strong></td>
                                      </tr>
                                      <tr class="text-center" *ngIf="menus && menus.length == 0">
                                        <td colspan="4"><strong>Sem registro...</strong></td>
                                    </tr>
                                  <tr *ngFor="let item of menus">
                                    <td>{{item.id}}</td>
                                    <td>{{item.menu1}}</td>
                                    <td class="text-center">{{item.ordem}}</td>
                                    <td class="td-actions text-center">
                                        <a rel="tooltip" title="Editar" (click)="BtnAtualizarMenu(item)" class="btn btn-info btn-simple btn-xs">
                                          <i class="fa fa-pencil-square-o icon-view" aria-hidden="true"></i>
                                        </a>
                                        <a rel="tooltip" title="Excluir" (click)="ExcluirMenu(item)" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-trash-o icon-delete" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- Fim dos itens do menu-->
                  </div>

                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <form [formGroup]="formOpcoes">
                        <legend>Submenu</legend>
                        <div class="row">
                          <div class="col-md-1">
                            <div class="form-group">
                              <label>Id</label>
                              <input class="form-control" type="text" readonly="true" name="id" id="id" formControlName="id">
                            </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                <label>Descrição <span class="star">*</span></label>
                                <input class="form-control" type="text" name="titulo" id="titulo" formControlName="titulo" maxlength="50">
                                <div class="text-danger validator" *ngIf="formOpcoes.get('titulo').invalid && formOpcoes.get('titulo').touched">
                                    <div *ngIf="formOpcoes.get('titulo').errors['required']">Campo Obrigatório.</div>
                                    <div *ngIf="formOpcoes.get('titulo').errors['minlength']">Digite no mínimo 2 caracteres.</div>
                                </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                <label><abbr title="Caminho após o endereço principal do sistema.">Path URL</abbr> <span class="star">*</span></label>
                                <input class="form-control" type="text" name="pathUrl" id="pathUrl" formControlName="pathUrl" maxlength="60">
                                <div class="text-danger validator" *ngIf="formOpcoes.get('pathUrl').invalid && formOpcoes.get('pathUrl').touched">
                                    <div *ngIf="formOpcoes.get('pathUrl').errors['required']">Campo Obrigatório.</div>
                                    <div *ngIf="formOpcoes.get('pathUrl').errors['minlength']">Digite no mínimo 2 caracteres.</div>
                                </div>
                              </div>
                          </div>
                          <div class="form-group col-md-1">
                            <label>Ativo?</label>
                            <select class="form-control" name="ativo" formControlName="ativo">
                              <option value="false" selected="selected">Não</option>
                              <option value="true" selected="selected">Sim</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label>Visível/Menu?</label>
                            <select class="form-control" name="visivelMenu" formControlName="visivelMenu">
                              <option value="false" selected="selected">Não</option>
                              <option value="true" selected="selected">Sim</option>
                            </select>
                          </div>                         
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label><abbr title="Validação utilizada no front.">Slug Permissão</abbr> <span class="star">*</span></label>
                              <input class="form-control" type="text" name="slugPermissao" id="slugPermissao" formControlName="slugPermissao" maxlength="50" [brmasker]="{mask:'', len:50, userCaracters: false}">
                              <div class="text-danger validator" *ngIf="formOpcoes.get('slugPermissao').invalid && formOpcoes.get('slugPermissao').touched">
                                  <div *ngIf="formOpcoes.get('slugPermissao').errors['required']">Campo Obrigatório.</div>
                                  <div *ngIf="formOpcoes.get('slugPermissao').errors['minlength']">Digite no mínimo 2 caracteres.</div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label>É SubMenu?</label>
                            <select class="form-control" name="subMenu" formControlName="subMenu" (change)="ChangeInputMenu($event.target.value)">
                              <option value="0" selected="selected">Não</option>
                              <option value="1" selected="selected">Sim</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2" *ngIf="exComboMenu">
                            <label>Menu</label>
                            <select class="form-control" name="idMenu" formControlName="idMenu">
                              <option value="" selected="selected">... Selecione ...</option>
                              <option *ngFor="let item of menus" [value]="item.id">{{item.menu1}} ({{item.id}})</option>
                            </select>
                            <div class="text-danger validator" *ngIf="formOpcoes.get('idMenu').invalid && formOpcoes.get('idMenu').touched">
                                <div *ngIf="formOpcoes.get('idMenu').errors['required']">Campo Obrigatório.</div>
                            </div>
                          </div>  
                        </div>
                      </form>
                      <!--{{this.formOpcoes.value |json}}<br>-->
                      <!--{{this.formOpcoes.valid |json}}-->
                      <div class="row">
                          <div class="col-md-12 text-center">
                              <div class="form-group barra-opcoes-cadastro">
                                <button [disabled]="submittingForm || formOpcoes.invalid"  (click)="submitForm('SUBMENU')" class="btn btn-wd btn-outline-dark" title="Salvar Registro">
                                      <i class="fa fa-floppy-o icon-barra-cadastros" aria-hidden="true"></i>
                                      Salvar
                                </button>
                                <button *ngIf="submenu.id>0" class="btn btn-wd btn-outline-success" (click)="Novo('SUBMENU')" title="Novo Registro">
                                    <i class="fa fa-plus-circle icon-barra-cadastros" aria-hidden="true"></i>
                                      Novo
                                </button>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div><!--Fim da div row opções menu-->

                  <br>
                  <div class="row">
                      <div class="col-md-5 col-md-offset-7">
                          <label>Perquisar: </label>
                        <div class="input-group">
                            <input type="text" name="pesqCliente" #buscaSubMenu placeholder="" class="form-control">
                            <span class="input-group-btn" >
                                <button class="btn btn-default" (click)="PesqSubMenu(buscaSubMenu.value)" type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead class="thead-danger thead">
                                <tr class="tr-hover">
                                  <th class="text-center tdSubMenu">CÓDIGO</th>
                                  <th class="text-left tdSubMenu">DESCRIÇÃO</th>
                                  <th class="text-left tdSubMenu">Path Url</th>
                                  <th class="text-center tdSubMenu">Ativo</th>
                                  <th class="text-center tdSubMenu">Vis/Menu</th>
                                  <th class="text-left tdSubMenu">Menu</th>
                                  <th class="text-left tdSubMenu">Slug/Perm.</th>
                                  <th class="text-center tdSubMenu">#</th>
                                </tr>
                            </thead>
                          <tbody>
                              <tr class="text-center" *ngIf="!submenus">
                                <td colspan="5"><strong>Carregando...</strong></td>
                              </tr>
                              <tr class="text-center" *ngIf="submenus && submenus.length == 0">
                                <td colspan="5"><strong>Sem registro...</strong></td>
                              </tr>
                              <tr *ngFor="let row of submenus">
                                  <td class="text-center">{{row.id}}</td>
                                  <td class="text-left">{{row.titulo}}</td>
                                  <td class="text-left">{{row.pathUrl}}</td>
                                  <td class="text-center" *ngIf="row.ativo">Sim</td>
                                  <td class="text-center" *ngIf="!row.ativo">Não</td>
                                  <td class="text-center" *ngIf="row.visivelMenu">Sim</td>
                                  <td class="text-center" *ngIf="!row.visivelMenu">Não</td>                                  
                                  <td class="text-left">
                                      {{obterMenu(row?.idMenu)}}
                                  </td>
                                  <td class="text-left">{{row.slugPermissao}}</td>
                                  <td class="td-actions text-center">
                                      <a rel="tooltip" title="Visualizar/Editar" (click)="btnEditarSubmenu(row)" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-pencil-square-o icon-view" aria-hidden="true"></i>
                                      </a>
                                      <a rel="tooltip" title="Configurar Permissões" (click)="btnConfigurarPermissao(row)" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-cogs icon-config" aria-hidden="true"></i>
                                      </a>
                                      <a rel="tooltip" title="Excluir Submenu" (click)="btnExcluirSubmenu(row)" class="btn btn-info btn-simple btn-xs">
                                          <i class="fa fa-trash-o icon-delete" aria-hidden="true"></i>
                                      </a>
                                  </td>
                              </tr>
                          </tbody>
                        </table>

                        <app-paginacao [EndPoint]="EndPoint" [pagina]="pagina" [filtroSelecionado]="FiltroSelecionado" [filtroValue]="ValueFiltro"
                    [qtdRegPagina]="qtdRegPagina" [registroExcluido]="registroExcluido" [execPesqVazia]="execPesqVazia" (returnDados)="DadosPaginacao($event)" ></app-paginacao>
                    </div>
                  </div><!--Fim da div row opções menu-->

                  <div class="row" *ngIf="exPermissoes">
                    <div class="col-md-12">
                      <legend>Permissões</legend>
                      <div class="row">
                        <div class="col-md-6">
                          <form [formGroup]="formPermissoes">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Descrição</label>
                                <input class="form-control" type="text" readonly="true" name="descricaoSubMenu" id="descricaoSubMenu" formControlName="descricaoSubMenu">
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Permissão <span class="star">*</span></label>
                                <select class="form-control" name="idPermissoes" formControlName="idPermissoes" >
                                  <option value="" selected="selected">... Selecione ...</option>
                                  <option *ngFor="let item of permissoes" [value]="item.id">{{item.nome}}</option>
                                </select>
                                <div class="text-danger validator" *ngIf="formPermissoes.get('idPermissoes').invalid && formPermissoes.get('idPermissoes').touched">
                                    <div *ngIf="formPermissoes.get('idPermissoes').errors['required']">Campo Obrigatório.</div>
                                </div>
                            </div>
                          </form>
                          <div class="row">
                              <div class="col-md-12 text-center">
                                  <div class="form-group barra-opcoes-cadastro">
                                    <button [disabled]="submittingForm || formPermissoes.invalid"  (click)="submitForm('PERMISSAO')" class="btn btn-wd btn-outline-dark" title="Salvar Registro">
                                          <i class="fa fa-floppy-o icon-barra-cadastros" aria-hidden="true"></i>
                                          Salvar
                                    </button>
                                  </div>
                              </div>
                          </div>
                          <!--{{this.formPermissoes.value | json}}-->
                        </div><!--Div de permissões-->
                        <div class="col-md-6">
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead class="thead">
                                        <tr class="tr-hover">
                                          <th class="text-left tdSubMenu">ID</th>
                                          <th class="text-left tdSubMenu">Permissão</th>
                                          <th class="text-center tdSubMenu">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngIf="!menuOpcoesBotoes">
                                            <td colspan="3"><strong>Carregando...</strong></td>
                                          </tr>
                                          <tr class="text-center" *ngIf="menuOpcoesBotoes && menuOpcoesBotoes.length == 0">
                                            <td colspan="3"><strong>Sem registro...</strong></td>
                                        </tr>
                                      <tr *ngFor="let item of menuOpcoesBotoes">
                                        <td class="col-md-4">{{item.id}}</td>
                                        <td class="col-md-8">{{item.descPermissao}}</td>
                                        <td class="td-actions col-md-1 text-center">
                                            <a rel="tooltip" title="Excluir" (click)="btnExMenuOpcBotoes(item)" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-trash-o icon-delete" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--Div de permissões List-->
                      </div>
                    </div>
                  </div>

                </div><!--FIM DO CONTENT-->
            </div> <!-- end card -->
        </div>

    </div>

