.modal-title{
  font-size: 14px;
  font-weight: bold;
  width: 90%;
  height: 30px;
  float: left;
  padding: 5px;
  color: #555;
}

.full-width{
  display: inline;
}

.body{
  top: 15px;
  width: 100%;
  display: block;
}


